<li>
	<span> <%= link_to component.name, component_path(component) %> <% if current_user.admin? | editor_comp(component.id)
	%> |
			<%= link_to "edit", edit_component_path(component) %> |
			<%= link_to "delete", component_path(component), method: :delete, data: {confirm: "You sure?"} %> <% end %>
	</span>
</li>