<% provide(:title, "New component") %>
<h1>Create new component</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
			<%= form_for @component, url: new_component_path do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :descr, "Description" %>
			<%= f.text_area :descr, class: 'form-control' %>

			<%= f.submit "Create", class: 'btn btn-primary butn' %>

		<% end %>
	</div>
</div>