<% provide(:title, @component.name) %>
<div class="container">
<div class="row">
	<div class="col-md-12">
		<br/>
		<%= link_to @component.root.client.name,@component.root.client %>
		<%@ancestors.reverse.each do |record|%>
			-> <%= link_to Component.find_by(id: record).name, Component.find_by(id: record)%>
		<%end%>
	</div>
	<aside class="col-md-3">
		<section class="user_info">
			<h1>
				<%= @component.name %>
			</h1>

			<p><%= @component.descr %></p>
		</section>
	</aside>
	<div class="col-md-4">
		<br/>

		<div>
			<% if current_user.admin? | editor_comp %>
				<%= button_to "New nested component", new_component_path(@component), class: "btn btn-primary", id:
																										'button_components', :method => :get %>
			<% end %>
			<br/>
			<% if @component.children.any? %>
				<h3>Nested components</h3>
				<ul class="microposts">
					<% @components.each do |component, nested_values| %>
						<%= components_tree_for(nested_values) %>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
	<br/>

	<div id="tabs" class="col-md-5" role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tabs-1" aria-controls="home" role="tab"
																								data-toggle="tab">Parameters</a></li>
			<li role="presentation"><a href="#tabs-2" aria-controls="profile" role="tab"
																 data-toggle="tab">Assoc. users</a></li>
			<% if current_user.admin? | editor_comp %>
			<li role="presentation"><a href="#tabs-3" aria-controls="profile" role="tab"
																 data-toggle="tab">Permissions</a></li>
			<% end %>
		</ul>
		<div class="tab-content">
			<div id="tabs-1" role="tabpanel" class="tab-pane active">
				<h3>Parameters</h3>

				<div id="parameters">
					<%= render :partial => @component.parameters.reverse 		%>
					<br>
				</div>

				<% if editor_comp | current_user.admin? %>
				<div class="col-md-9">
					<div id="parameter_errors"></div>
					<%= form_for([@component, Parameter.new], remote: true) do |f| %>
						<%= render 'shared/error_messages', object: f.object %>

						<%= f.label :name %>
						<%= f.text_field :name, class: 'form-control' %>

						<%= f.label :value, "Value" %>
						<%= f.text_field :value, class: 'form-control' %>

						<%= f.submit "Create", class: 'btn btn-primary butn' %>

					<% end %>
				</div>
				<% end %>
			</div>
			<div id="tabs-2" role="tabpanel" class="tab-pane">
				<h3>Associated users</h3>

				<div id="users">
					<%= render :partial => @component.associated_users.reverse %>
				</div>
				<br/>
				<% if current_user.admin? | editor_comp %>

				<div class="col-md-9">
					<div id="user_errors"></div>
					<%= form_for([@component, AssociatedUser.new], remote: true) do |f| %>
						<%= render 'shared/error_messages', object: f.object %>

						<%= f.label :name %>
						<%= f.autocomplete_field :name, autocomplete_ad_user_name_component_associated_users_path(@component),
									 :update_elements => {:username => '#associated_user_username',
										:password => '#associated_user_password'},
										:fields => {:client_id => '#client_id'},
										class: 'form-control' %>

						<%= f.label :username %>
						<%= f.text_field :username, class: 'form-control' %>

						<%= f.label :password %>
						<%= f.text_field :password, class: 'form-control' %>

						<%= hidden_field_tag :client_id, @component.root.client.id %>

						<%= f.submit "Create", class: 'btn btn-primary' %>

					<% end %>
				</div>
				<% end %>
				</div>
			<% if current_user.admin? | editor_comp %>
				<div id="tabs-3" role="tabpanel" class="tab-pane">
					<h3>Permissions</h3>

					<div id="permissions">
						<%= render :partial => @component.permissions.reverse%>
					</div>
					<br/>
					<% if current_user.admin? | editor_comp %>
					<div class="col-md-9">
						<div id="permission_errors"></div>
						<%= form_for(Permission.new,url: component_permission_path(@component.id), remote: true) do |f| %>

							<%= f.label :user_id %>
							<%= f.collection_select :user_id, User.all.order(:name),:id,:name,{prompt: "Select a user"}, {class: "form-control"} %>

							<%= f.label :client_id%>
							<%= f.hidden_field :client_id, class: 'form-control' %>

							<%= f.label :component_id%>
							<%= f.hidden_field :component_id, :value => @component.id %>

							<%= f.submit "Create", class: 'btn btn-primary' %>

						<% end %>
					</div>
					<% end %>
			</div>
			<% end %>
	</div>
	</div>
</div>
</div>

