<li>
	<span> <%= link_to "#{ad_user.name} (#{ad_user.active_directory})", edit_ad_user_path(ad_user) %>| <%=
			link_to "delete",
							client_path(@client), method: :delete, data: {confirm: "You sure?"} %></span>
</li>