<% provide(:title, "Edit user") %>
<h1>Update profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for ([@ad_user]) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :username %>
			<%= f.text_field :username, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.text_field :password, class: 'form-control' %>

			<%= f.label :active_directory, "Active Directory" %>
			<%= f.text_field :active_directory, class: 'form-control' %>

			<%= f.label :user_id, "User ID"%>
			<%= f.text_field :user_id, class: 'checkbox inline' %>

			<%= f.submit "Edit", class: 'btn btn-primary butn' %>

		<% end %>
	</div>
</div>