<% provide(:title, "New AD user") %>
<h1>Create AD user</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for ([@ad_user.client, @ad_user]) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :username %>
			<%= f.text_field :username, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.text_field :password, class: 'form-control' %>

			<%= f.label :active_directory, "Active Directory" %>
			<%= f.text_field :active_directory, class: 'form-control' %>

			<%= f.label :user_id, "User ID"%>
			<%= f.collection_select :user_id, User.all.order(:name),:id,:name,{prompt: "Select a user"}, {class: "form-control"} %>

			<%= f.submit "Create", class: 'btn btn-primary butn' %>

		<% end %>
	</div>
</div>