<%= div_for associated_user do%>
	<div class="col-md-12">
		<div class="col-md-5"><%= associated_user.name %></div>
		<div class="col-md-3"><%= link_to associated_user.username, edit_associated_user_path(associated_user) %>:</div>
		<div class="col-md-3"><%=associated_user.password %> </div>
		<div class="col-md-1"><%= link_to "delete", associated_user_path(associated_user), method: :delete, data:
		{confirm: "You
		sure?"} %> </div>
	</div>
<%end%>