<% if @associated_user.errors.any? %>
<% @error = "user_errors"%>
$('#user_errors').replaceWith('<%= escape_javascript(render 'shared/error_messages', object: @associated_user,
:locals => {:error => @error})%>');
<% else %>

var new_associated_user = $("<%= escape_javascript(render(:partial => @associated_user))%>").hide();
$('#users').prepend(new_associated_user);
$('#associated_user_<%=@associated_user.id %>').fadeIn('slow');
$('#new_associated_user')[0].reset();
$('#user_errors').replaceWith("<div id='user_errors'></div>");
<% end %>