<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@associated_user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :username%>
			<%= f.text_field :username, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.text_field :password, class: 'form-control' %>


			<%= f.submit "Edit", class: 'btn btn-primary butn' %>

		<% end %>
	</div>
</div>