<p id="notice"><%= notice %></p>

<h1>Listing Associated Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>String</th>
      <th>Component</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @associated_users.each do |associated_user| %>
      <tr>
        <td><%= associated_user.name %></td>
        <td><%= associated_user.username %></td>
        <td><%= associated_user.password %></td>
        <td><%= associated_user.string %></td>
        <td><%= associated_user.Component %></td>
        <td><%= link_to 'Show', associated_user %></td>
        <td><%= link_to 'Edit', edit_associated_user_path(associated_user) %></td>
        <td><%= link_to 'Destroy', associated_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Associated user', new_associated_user_path %>
