<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @associated_user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @associated_user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @associated_user.password %>
</p>

<p>
  <strong>String:</strong>
  <%= @associated_user.string %>
</p>

<p>
  <strong>Component:</strong>
  <%= @associated_user.Component %>
</p>

<%= link_to 'Edit', edit_associated_user_path(@associated_user) %> |
<%= link_to 'Back', associated_users_path %>
