<% provide(:title, 'All Users')%>
<h1>All users</h1>

<% if current_user.admin? %>
	<%= button_to "New user", signup_path, class: "btn btn-primary", id: 'button_users'%>
<% end %>
<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= link_to user.name, user %>
			<% if current_user.admin? && !current_user?(user) %>
				| <%= link_to "edit", edit_user_path(user)%>
				| <%= link_to "delete", user, method: :delete,
											data: { confirm: "You sure?" } %>
			<% end %>
		</li>
	<% end %>
</ul>

<%= will_paginate %>