<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-5">
		<section class="user_info">
			<h1>
				<%= @user.name %>
			</h1>
		</section>
		<br/><br/>
		<p> My Active Directory users:</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Project</th>
					<th>Username</th>
					<th>Password</th>
				</tr>
			</thead>
			<tbody>
			<%@user.ad_users.each do |ad|%>
				<tr>
					<td> <%= "#{Client.find_by(id: ad.client_id).name}"%> </td>
					<td> <%= "#{ad.username}" %> </td>
					<td> <%= "#{ad.password}" %> </td>
				</tr>
			<%end%>
			</tbody>
		</table>
	</aside>
	<div class="col-md-7"> <!--div for list of users clients-->
		<br/>
		<!--Returns all clients for admins-->
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
			<%if current_user.admin?%> <!--check if logged-in user is admin-->
				<% Client.all.each do |client|%>
					<div class="panel panel-default"> <!--renders all clients in collapsable divs-->
						<div class="panel-heading" role="tab" id="heading<%=client.id%>">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=client.id%>" aria-expanded="false"
									 aria-controls="collapse<%=client.id%>">
									<%= client.name %>
								</a>
								<a class="anchorjs-link" href="<%=client_path(client.id)%>"><span
								class="anchorjs-icon pull-right"><small>Open client</small></span></a>
							</h4>
							<div id="collapse<%=client.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=client.id%>">
								<div class="panel-body">
									<ul class="microposts"> <!--for every client render list of its nested tree components-->
										<% components = User.components_by_client(client.id)%>
										<% components.each do |nested_values| %>
											<%= components_tree_for(nested_values.hash_tree(:limit_depth => 1)) %>
										<% end %>
									</ul>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
			<!--Returns all clients where user is editor-->
	<% User.show_clients(@user.id).each do |client|%>
				<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading<%=client.id%>">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=client.id%>" aria-expanded="false"
						 aria-controls="collapse<%=client.id%>">
						<%= client.name %> (as editor)
					</a>
						<a class="anchorjs-link" href="<%=client_path(client.id)%>"><span
						class="anchorjs-icon pull-right"><small>Open client</small></span></a>

					</h4> <!--render all clients where user is editor in collapsable divs-->
					<div id="collapse<%=client.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=client.id%>">
						<div class="panel-body">
						<ul class="microposts"><!--for every client render list of its nested tree components, depth is limited
						to 1-->
							<% components = User.components_by_client(client.id)%>
							<% components.each do |nested_values| %>
								<%= components_tree_for(nested_values.hash_tree(:limit_depth => 1)) %>
							<% end %>
						</ul>
					</div>
				</div>
				</div>
				</div>
		<% end %>
			<!--Returns all clients where user is viewer-->
      <% component = User.show_components(@user.id)%>
      <% client_pool = User.clients_pool(component)%>
      <% ancestors = User.component_ancestors(component)%>
      <% roots = User.component_roots(component)%>
      <% client_pool.uniq.each do |client|%>
				<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading<%=client.id%>">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=client.id%>" aria-expanded="false"
							 aria-controls="collapse<%=client.id%>">
							<%= client.name %> (as viewer)
						</a>
					</h4><!--render all clients where user is editor in collapsable divs-->
					<div id="collapse<%=client.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=client.id%>">
						<div class="panel-body">
							<ul class="microposts"> <!--for every client render list of only those components where user is viewer-->
              <% roots.each do |nested_values| %>
                  <%if nested_values.client.id == client.id%>
                  <%= components_tree_for_user_show(nested_values.hash_tree, ancestors) %>
                  <% end %>
              <% end %>
					</ul>
							</div>
						</div>
					</div>
				</div>
      <% end %>
		</div>
	</div>
</div>
