<% if object.errors.any? %>
<% if @error.nil? %>
	<div id="errors">
<%else%>
		<div id = <%= "#{@error}" %>
<%end%>
	<div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(object.errors.count, "error") %>.
		</div>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	</div>
<% end %>