<% provide(:title, 'All Clients')%>
<h1>All clients</h1>

<% if current_user.admin? %>
	<%= button_to "New client", new_client_path, class: "btn btn-primary", id: 'button_users', method: :get%>
<% end %>

<%= will_paginate %>
<ul class="users">
	<% @clients.each do |client| %>
		<li>
			<%= link_to client.name, client %>
			<% if current_user.admin? %>
				| <%= link_to "edit", edit_client_path(client)%>
				| <%= link_to "delete", client, method: :delete,
											data: { confirm: "You sure?" } %>
			<% end %>
		</li>
	<% end %>
</ul>
<%= will_paginate %>