<% provide(:title, @client.name) %>
<div class="row">
	<aside class="col-md-5">
		<section class="user_info">
			<h1>
				<%= @client.name %>
			</h1>
			<p><%=@client.descr %></p>
		</section>
		<div>
			<h3>Permissions</h3>
			<div id="permissions">
				<%= render :partial => @client.permissions.reverse%>
			</div>
			<br/>
			<% if current_user.admin? | editor_clients %>
			<div class="col-md-9">
				<%= form_for(Permission.new,url: client_permission_path(@client.id), remote: true) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>

					<%= f.label :user_id %>
					<%= f.collection_select :user_id, User.all.order(:name),:id,:name,{prompt: "Select a user"}, {class: "form-control"} %>

					<%= f.label :client_id%>
					<%= f.hidden_field :client_id, :value => @client.id %>

					<%= f.submit "Create", class: 'btn btn-primary' %>

				<% end %>
			<% end %>
			</div>
		</div>
	</aside>
	<div class="col-md-3">
		<br/>
		<div><% if current_user.admin? | editor_clients %>
				<%= button_to "New AD user", new_client_ad_user_path(@client), class: "btn btn-primary", id: 'button_users', :method => :get %>
			<% end %></div>
		<br/>
		<% if @client.ad_users.any? %>
			<h3>AD Users (<%= @client.ad_users.count %>)</h3>
			<ul class="microposts">
				<%= render @ad_users %>
			</ul>
			<%= will_paginate @ad_users, :param_name => 'ad_users_page' %>
		<% end %>
	</div>
	<div class="col-md-4">
		<br/>
		<div><% if current_user.admin? | editor_clients %>
				<%= button_to "New component", new_client_component_path(@client), class: "btn btn-primary", id: 'button_users', :method => :get %>
			<% end %></div>
		<br/>
		<% if @client.components.any? %>
			<h3>Components (<%= @client.components.count %>)</h3>
			<ul class="microposts">
				<%= render @components %>
			</ul>
			<%= will_paginate @components, :param_name => 'components_page' %>
		<% end %>
	</div>
</div>