<%= div_for permission do%>
	<div><div class="col-md-6"><%=permission.user.name %></div>
		<div class="col-md-3"><%= link_to "delete", permission_path(permission), method: :delete, data: {confirm: "You
		sure?"} %> </div>
	</div>
<%end%>