<% if @permission.errors.any? %>
<% @error = "permission_errors"%>
$('#permission_errors').replaceWith('<%= escape_javascript(render 'shared/error_messages', object: @permission,
:locals => {:error => @error})%>');
<% else %>

var new_permission = $("<%= escape_javascript(render(:partial => @permission))%>").hide();
$('#permissions').prepend(new_permission);
$('#permission_<%=@permission.id %>').fadeIn('slow');
$('#new_permission')[0].reset();
$('#permission_errors').replaceWith("<div id='permission_errors'></div>");
<% end %>