<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@permission) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :user_id %>
			<%= f.collection_select :user_id, User.order(:name),:id,:name, class: 'form-control' %>

			<%= f.label :value%>
			<%= f.text_field :value, class: 'form-control' %>

			<%= f.label :client_id%>
			<%= f.text_field :client_id, class: 'form-control' %>

			<%= f.label :component_id%>
			<%= f.text_field :component_id, class: 'form-control' %>

			<%= f.submit "Edit", class: 'btn btn-primary butn' %>

		<% end %>
	</div>
</div>