<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "scandic fusion", current_user, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<% if logged_in? %>
					<% if current_user.admin?%>
					<li><%= link_to "Users", users_path %></li>
					<li><%= link_to "Clients", clients_path %></li>
						<%end%>
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>
					<li>
						<%= link_to "Log out", logout_path, method: "delete" %>
					</li>
				<% else %>
					<li><%= link_to "Log in", root_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>