<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @parameter, url: new_component_parameter_path do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :value, "Value" %>
			<%= f.text_field :value, class: 'form-control' %>

			<%= f.submit "Create", class: 'btn btn-primary butn' %>

		<% end %>
	</div>
</div>
