<%= div_for parameter do%>
	<div><div class="col-md-5"><%= link_to parameter.name, edit_parameter_path(parameter) %>:</div>
	<div class="col-md-5"><%=parameter.value %> </div>
	<div class="col-md-2"><%= link_to "delete", parameter_path(parameter), method: :delete, data: {confirm: "You
		sure?"} %> </div>
	</div>
<%end%>
<%%>