<% if @parameter.errors.any? %>
<% @error = "parameter_errors"%>
$('#parameter_errors').replaceWith('<%= escape_javascript(render 'shared/error_messages', object:
@parameter, :locals => {:error => @error})%>');
<% else %>

var new_parameter = $("<%= escape_javascript(render(:partial => @parameter))%>").hide();
$('#parameters').prepend(new_parameter);
$('#parameter_<%= @parameter.id %>').fadeIn('slow');
$('#new_parameter')[0].reset();
$('#parameter_errors').replaceWith("<div id='parameter_errors'></div>");
<% end %>