<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parameter.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @parameter.value %>
</p>

<p>
  <strong>Component:</strong>
  <%= @parameter.component %>
</p>

<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
